@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");
.body {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}
.body-search {
  font-family: "Barlow";
  color: rgb(30, 30, 112);
}
.body-result {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 40px;
}
.filter-data {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  background-color: rgb(236, 249, 255);
  height: 7rem;
  border-radius: 10px;
}
.filter-location {
  border-right: 1px solid grey;
  cursor: pointer;
}
.filter-location > .select-location {
  margin-right: 20px;
}
.filter-location > label {
  color: grey;
}
.filter-when {
  display: flex;
  flex-direction: column;
  width: 12rem;
  border-right: 1px solid grey;
}
.filter-when > label {
  color: grey;
}
.filter-when > input {
  height: 2rem;
  background-color: rgb(236, 249, 255);
  outline: none;
  border: none;
  margin-right: 20px;
  font-size: 15px;
}
input[type="date"]::before {
  color: black;
  font-size: 12px;
  font-family: "Barlow";
  content: attr(placeholder);
}
input[type="date"] {
  color: #ffffff;
}
input[type="date"]:focus,
input[type="date"]:valid {
  color: #666666;
}
input[type="date"]:focus::before,
input[type="date"]:valid::before {
  content: "" !important;
}

.filter-price {
  display: flex;
  flex-direction: column;
  width: 7rem;
  border-right: 1px solid grey;
}
.filter-price > label {
  color: grey;
  margin-left: -20px;
}
.filter-price > .select {
  height: 2rem;
  background-color: rgb(236, 249, 255);
  outline: none;
  border: none;
  font-size: 13px;
  margin-right: 11px;
  margin-left: -23px;
}

.filter-price > select > option {
  background-color: rgb(236, 249, 255);
  font-family: "Barlow";
}
.btn {
  background-color: rgb(57, 128, 219);
  color: white;
  height: 2.5rem;
  width: 6rem;
  font-size: 13px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
